.AstrologyAdvicecontainer {
    padding: 20px;
}


.AstrologyAdvicebannerContainer {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    height: 35vh;
}

.AstrologyAdvicebannerContainer h1 {
    font-size: 2.8rem;
    font-weight: 100;
    color: brown;
}


.AstrologyAdviceBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 0px;
}


.AstrologyAdviceContainer {
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}


.AstrologyAdviceContainer .box {
    width: 250px;
    height: 250px;
    outline: 2px dashed rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.1);
    margin: 0 auto 25px;
}


.AstrologyAdviceContainer h1 {
    margin: 0;
    text-align: center;
    font-size: 2.2rem;
    color: brown;
    font-weight: 400;
}

.AstrologyAdviceContainer p {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    color: #666;
}


@media (max-width: 600px) {
    .AstrologyAdviceContainer {
        width: 100%;
    }

    .AstrologyAdviceBox {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        gap: 0px;
    }
}

@media (max-width: 400px) {
    .AstrologyAdviceContainer {
        width: 100%;
    }

    .AstrologyAdvicebannerContainer {
        margin-top: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .AstrologyAdvicebannerContainer h1{
        line-height: 45px;
        font-size: 35px;
        width: 100%;

    }

    .AstrologyAdviceBox {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        gap: 0px;
    }
}