.container {
    background-color: white;
}

.bannerContainer {
    width: 100%;
    height: 30vh;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bannerContainer h1 {
    font-weight: 200;
    color: rgba(120, 1, 1, 1);
    padding: 0;
    margin: 0;
}

/* Videos styles */
.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.video-container {
    width: 700px;
    padding: 20px;
}

/* Add this style to make iframes visible */
.video-container iframe {
    display: block;
    width: 100%;
    height: 550px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.2);
}