.cotainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
}

.getAdviceBanner {
    margin-top: 130px;
    background-image: url('../images/stars.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 280px;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.formContainer form {
    border-radius: 3px;
    margin: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
}

form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

form p {
    margin: 5px;
}

form ul {
    list-style-type: disc;
    padding-left: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

div>label {
    margin: 8px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.getAdviceSubmit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: .3s ease;
}

.formInnerContainer {
    margin-top: 20px;
}


.getAdviceSubmit:hover {
    background-color: #0056b3;
} 

@media (min-width: 800px) {
    form {
        width: 800px;
    }
}


