.VastuAdvicecontainer {
  padding: 20px;
}

.VastuAdvicebannerContainer {
  text-align: center;
  margin-top: 160px;
  font-size: .9rem;
  margin-bottom: 20px;
}

.VastuAdvicebannerContainer h1 {
  font-weight: 300;
  line-height: 40px;
  color: brown;
}

.VastuAdvicegridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}

.VastuAdviceadviceContainer {
  text-align: center;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.VastuAdvicepics img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.VastuAdvicepics h1 {
  font-size: 1.1rem;
  font-weight: 400;
  color: brown;
  font-weight: 350;
}